@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:300,400,700');

.header {
  padding: 200px;
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-position: center top;  color: white;
  background-size:cover;
  font-size: 30px;
}
.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 1rem;
  display: inline-block;
  line-height: 1.25rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .75rem 1.25rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: all .2s ease-in-out;

  &.btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #666;

    &:hover {
      color: #fff;
      background-color: #333;
      border-color: #666;
    }
  }
}
.item {
  /* Padding is used for smaller screens */
  padding: 0 30px 0 30px;
  text-align: center;
}
html {
  font-size:100%; // normally 16px
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  line-height: 1.6;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  text-align: center;
  font-family: "Oswald", sans;
  font-size: 4rem;
  font-weight: normal;
  line-height: 3.5rem;
}

h3 {
  font-size: 1.35rem;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px; // Smaller headers look better with spacing
}
