<div class="wrapperI">
  <div class="headerI">
    <section class="hero__content hero__content--centered">
      <h2 class="hero__title">Find the developper that could fit in   your project</h2>
    </section>
  </div>
  <div class="container-list1">
      <% @users.each do |user| %>
        <div class="card-container1">
          <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user">
          <h3><%= link_to user.name, user_path(user) %></h3>
          <h6>Paris</h6>
          <p>⭐⭐⭐⭐⭐</p>
          <div class="buttons">
                <div class="buttons">
                  <button class="primary ghost">
                   See Profile
                  </button>
                </div>
            <div class="skills">
                  <h6>Skills</h6>
                  <ul>
                    <li>UI / UX</li>
                    <li>Front End Development</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>React</li>
                    <li>Node</li>
                  </ul>
            </div>
          </div>
      <% end %>
    </div>

  <%= link_to "Add a new skill you learned (BTW congrats)",  new_skill_path, class:"btn btn-primary" %>
  </div>
