<div class="wrapperI">
  <div class="headerI">
        <section class="hero__content hero__content--centered">
          <h2 class="hero__title">Find the developer that could fit your project</h2>
              <div class="container">
    <div class="row searchFilter" >
     <div class="col-sm-12" >
      <div class="input-group" >
       <input id="table_filter" type="text" class="form-control" >
</div>
         <div class="button">
<script type="text/javascript">
let typed = document.querySelector("#table_filter");
typed.addEventListener("keyup", (event) => {
  event.preventDefault();
  typed.value;
});

</script>

<%= link_to "Skilled_Dave(s).search", skills_path(:name => ""), class:"btn btn-secondary btn-search", id:"skillsearch" %>
         </div>

      </div>
    </div>
  </div>
        </section>
  </div>
  <div class="container-list1">
      <% @users.each do |user| %>
        <div class="card-container1">
          <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user">
          <h3><%= link_to user.name, user_path(user) %></h3>
          <h6>Paris</h6>
          <p>⭐⭐⭐⭐⭐ For XX Missions</p>
          <p></p>
          <div class="buttons">
            <%= link_to user_path(user) do%>
            <button class="primary ghost">
              See Profile
            </button>
            <% end %>
            <div class="skills">
                  <h6>Skills</h6>
                  <ul>
                    <li>UI / UX</li>
                    <li>Front End Development</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>React</li>
                    <li>Node</li>
                  </ul>
            </div>
          </div>
        </div>
      <% end %>
  </div>
