<% skills.each do |skill| %>
  <div class="card-container">
    <%= link_to skill_path(skill) do%>
    <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
    <h3><%=skill.name%></h3>
    <h6>⭐⭐⭐⭐⭐</h6>
    <h6>By <%=User.find(skill.user_id).name%></h6>
    <p><%= skill.price %><span>$</span></p>
    <div class="buttons">
      <button class="primary ghost">
        Book Now
      </button>
    </div>
    <% end %>
  </div>
<% end %>
