<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<html>
  <body>

    <div class="wrapperI">
      <div class="headerI">
        <section class="hero__content hero__content--centered">
          <h2 class="hero__title">Find the skill that could fit your project</h2>
              <div class="container">
    <div class="row searchFilter" >
     <div class="col-sm-12" >
      <div class="input-group" >
       <input id="table_filter" type="text" class="form-control" >
</div>
         <div class="button">
        <script type="text/javascript">
          let typed = document.querySelector("#table_filter");
          typed.addEventListener("keyup", (event) => {
          event.preventDefault();
          console.log(typed.value);
          let token = $('meta[name="csrf-token"]').attr('content');
          console.log(token)
          jQuery.ajax({
            url: `/skills?name=${typed.value}`,
            type: 'GET',
            headers: {
              accept: '*/*',
              'X-CSRF-Token': token
            }
          });
        });
</script>

<%= link_to "Skilled_Dave(s).search", skills_path(:name => params[:name]), class:"btn btn-secondary btn-search", id:"skillsearch" %>
         </div>

      </div>
    </div>
  </div>
        </section>
      </div>


      <h4 class="text-align">
        More than
              <% cards_count = 0 %>
              <% @skills.each do |skill| %>
                <%cards_count += 1 %>
                <%end%>
                <%=  cards_count%> developpers
        are renting their coding skills
      </h4>
      <div class="container-list">

  <%= render partial: "cards", locals: {skills: @skills} %>
  </div>
  <%= link_to "Add a new skill you learned (BTW congrats)",  new_skill_path, class:"btn btn-primary" %>
  </body>
</html>


