<html>
  <body>
    <h1 class="text-center">Skills</h1>




  <div class="container-list">
        <% @skills.each do |skill| %>
          <div class="card-container">
            <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
            <h3><%= link_to skill.name, skill_path(skill) %></h3>
            <h6>⭐⭐⭐⭐⭐</h6>
            <h6>By <%= link_to skill.name, skill_path(skill) %></h6>
            <p><%= skill.price %><span>$</span></p>
            <div class="buttons">
              <button class="primary ghost">
                See Skills
              </button>
            </div>
          </div>
    <% end %>
  </div>
      <%= link_to "Add a new skill you learned (BTW congrats)",  new_skill_path, class:"btn btn-primary" %>
  </body>
</html>
