<html>
  <body>
    <div class="header">
      <div class="item">
        <h3>Uppercase Heading</h3>
        <h1>Main Title Here</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ornare erat eu semper tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum blandit viverra leo in tempor.</p>
        <button class="btn btn-primary">Sign Up</button>
      </div>
    </div>
  </body>
</html>
