<html>
  <body>
    <div class="header">
      <div class="item">
        <h3>Uppercase Heading</h3>
        <h1>Main Title Here</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ornare erat eu semper tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum blandit viverra leo in tempor.</p>
        <% if !user_signed_in? %>
          <%= link_to 'Sign-Up', new_user_registration_path, class:"btn btn-primary" %>
        <%else%>
          <%= link_to 'View all the skills available and find my perfect dave', skills_path, class:"btn btn-primary" %>
        <%end%>
      </div>
    </div>
  </body>
</html>
