.articles {
  margin-bottom: 50px;
  margin-top: 40px;
}

#question {
  text-align: center;
  padding: 20px;
}

.boxes {
  background-color: #e4e3e3;
  height: 350px;
}

.flexibility {
  background-color: #e4e3e3;
}
