.footer {
  background-color: black;
  color: white;
  height: 90px;
}

.fa-facebook-square {
  color: white;
  font-size: 20px;
}

.fa-facebook-square:hover {
  color: pink;
  font-size: 20px;
}

.fa-twitter-square {
  color: white;
  font-size: 20px;
}

.fa-twitter-square:hover {
  color: pink;
  font-size: 20px;
}

.fa-linkedin {
  color: white;
  font-size: 20px;
}

.fa-linkedin:hover {
  color: pink;
  font-size: 20px;
}
