footer {
  background-color: black;
  color: white;
  height: 90px;
  border-top: 7px solid #204051;
}

.fa-facebook-f {
  font-size: 20px;
}

.fa-facebook-f:hover {
  color: white;
  font-size: 20px;
}

.fa-twitter {
  font-size: 20px;
}

.fa-twitter:hover {
  color: white;
  font-size: 20px;
}

.fa-google-plus-g {
  font-size: 20px;
}

.fa-google-plus-g:hover {
  color: white;
  font-size: 20px;
}

.fa-linkedin-in {
  font-size: 20px;
}

.fa-linkedin-in:hover {
  color: white;
  font-size: 20px;
}



