.header {
  padding: 200px;
  text-align: center;
  background-image: linear-gradient(
   rgba(0, 0, 0, 0.6),
   rgba(0, 0, 0, 0.6)
 ),url(https://wompampsupport.azureedge.net/fetchimage?siteId=7575&v=2&jpgQuality=100&width=700&url=https%3A%2F%2Fi.kym-cdn.com%2Fentries%2Ficons%2Ffacebook%2F000%2F021%2F807%2Fig9OoyenpxqdCQyABmOQBZDI0duHk2QZZmWg2Hxd4ro.jpg);
  color: #fff;
  background-size: cover;
  font-size: 30px;
  border-bottom: 7px solid #204051;

  h1 {
    text-align: center;
    font-family: "Oswald", sans;
    font-size: 70px;
    font-weight: normal;
    line-height: 3.5rem;
  }

  p {
    font-size: 15px;
    line-height: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .item {
  padding: 0 30px 0 30px;
  text-align: center;
  }

  html {
    font-size:100%;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
  }

  .img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
  }
}

// .button_header {
//   background-color: #ff5722;
//   border-radius: 15px;
//   color: black;
//   padding: 5px 70px;
//   opacity: 0.7;
// }

// .button_header:hover {
//   background-color: #ff5722;
//   opacity: 1;
//   border-radius: 15px;
//   color: black;
//   padding: 5px 70px;
//   text-decoration: none;
// }

